@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .carousel_button{

        @apply absolute;
        @apply top-1/2;
        @apply -translate-y-1/2;
        @apply rounded-full;
        @apply size-14;
        @apply text-3xl;
        @apply ease-in-out; 
        @apply duration-300;
        @apply bg-gray-200;
        @apply hover:bg-gray-300;
        @apply active:bg-gray-400;
        @apply text-gray-700;
    }

    .card_hero {
        @apply w-full;
        @apply h-full;
        @apply bg-green-500;
        @apply flex-shrink-0;
    }

    /* 270pixels é largura minima */

    .product {
        @apply flex;
        @apply flex-col;
        @apply justify-end;

        @apply flex-grow;
        @apply flex-shrink-0;

        @apply max-[440px]:h-[400px];

        @apply basis-[190px];
        @apply h-[300px];

        @apply sm:basis-64;
        @apply sm:h-96;

        @apply p-2.5;
       
    }

    .partner{
        @apply w-24; 
        @apply h-10; 
        @apply border rounded-md; 
        @apply mr-5;
        @apply cursor-pointer;
    }

    .big_card {
        @apply p-2.5;
        @apply pb-24;

        @apply flex-grow;
        @apply flex-shrink;
        
        @apply w-full;
        @apply basis-[808px];
        @apply h-96;
    }

    .card {
        @apply shadow-md;
        @apply hover:shadow-lg;
        @apply border rounded-xl; 
        @apply ease-out; 
        @apply duration-300; 
        @apply hover:scale-105; 
        @apply overflow-hidden;
    }

    .medium_card {
        @apply w-64; 
        @apply h-96;
        @apply mr-5; 
        @apply p-2.5;
        @apply overflow-hidden;
    }

     .search_card {
        @apply w-52;
        @apply h-72;
        @apply mr-1; 
        @apply p-2;
        @apply text-nowrap text-ellipsis overflow-hidden;
    }


    .small_card {
        @apply size-16;
        @apply shadow-lg; 
        @apply border rounded-md; 
        @apply mr-5; 
        @apply mb-5;
        @apply p-px;
    }

    .loading_card {
        @apply relative z-10 mb-5
    }

    .loading_card::before {
        content: "";
        @apply absolute;
        @apply top-1/2;
        @apply left-1/2;
        @apply w-[200%];
        @apply h-[200%];
        @apply bg-[#ECECEC];
        filter: blur(50px);
        transform: translate(-50%, -50%);
        animation: loading 2s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
        @apply overflow-hidden;
    }

    @keyframes loading {
        0% {
            top: -100%;
        }
        50% {
            top: 200%;
        }
        100% {
            top: -100%;
        }
    }

    .loading_image {
        @apply relative h-[490px] w-full p-[5%] max-w-7xl mx-auto;
        @apply border rounded-sm;
        @apply overflow-hidden;
    }

    .loading_image::before {
        content: "";
        @apply absolute;
        @apply top-1/2;
        @apply left-1/2;
        @apply w-[200%];
        @apply h-[200%];
        @apply bg-[#ECECEC];
        filter: blur(50px);
        transform: translate(-50%, -50%);
        animation: loading_image 2s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
        @apply overflow-hidden;
    }

    @keyframes loading_image {
        0% {
            left: -100%;
        }
        50% {
            left: 200%;
        }
        100% {
            left: -100%;
        }
    }

    .loading_title {
        @apply relative z-20;
        @apply w-5/6 h-9 mb-1;
        @apply border rounded-lg;
        @apply overflow-hidden;
    }

    .mini {
        @apply w-[30%] h-9;
    }

    .loading_title::before {
        content: "";
        @apply absolute;
        @apply top-1/2;
        @apply left-1/2;
        @apply w-[200%];
        @apply h-[200%];
        @apply bg-gray-400;
        filter: blur(50px);
        transform: translate(-50%, -50%);
        animation: loading_title 2s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
        @apply overflow-hidden;
    }

    @keyframes loading_title {
        0% {
            left: -100%;
        }
        50% {
            left: 200%;
        }
        100% {
            left: -100%;
        }
    }

    .loading_text {
        @apply relative z-20;
        @apply w-5/6 h-6 mb-2;
        @apply border rounded-lg;
        @apply overflow-hidden;
    }

    .mini {
        @apply w-[30%] h-9;
    }

    .loading_text::before {
        content: "";
        @apply absolute;
        @apply top-1/2;
        @apply left-1/2;
        @apply w-[200%];
        @apply h-[200%];
        @apply bg-gray-400;
        filter: blur(50px);
        transform: translate(-50%, -50%);
        animation: loading_title 2s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
        @apply overflow-hidden;
    }

    @keyframes loading_text {
        0% {
            left: -100%;
        }
        50% {
            left: 200%;
        }
        100% {
            left: -100%;
        }
    }

    .animated{
        @apply hover:scale-110;
    }

    .button {
        @apply p-3 px-4 rounded-3xl border hover:ease-in-out hover:duration-300;
    }

    .dark_button {
        @apply bg-gray-950 hover:bg-gray-900;
        @apply border-gray-950 hover:border-gray-900;
        @apply text-white;
    }

    .transparent_button {
        @apply bg-transparent hover:bg-white;
        @apply border-white;
        @apply text-white hover:text-black;
    }

    .transparent_dark_button {
        @apply bg-transparent hover:bg-gray-950;
        @apply border-gray-950;
        @apply text-black hover:text-white;
    }

    .small_card h3 {
        @apply mt-16;
        @apply text-sm;
    }

    h2 {
        @apply pb-5;
        @apply text-3xl;
        @apply font-semibold;
        @apply text-gray-800;
    }

    h3 {
        @apply text-lg;
        @apply font-semibold;
    }

    .carousel-hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .carousel-hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .glass {
        background: rgba( 255, 255, 255, 0.85 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
    }

    /* .blur-background {
        filter: blur(5px);
    } */

    .footer > li {
        @apply pr-3;
        @apply pb-5;
    }

    .menu {
        @apply fixed top-1 left-0 w-full p-5 bg-white shadow-md rounded-md z-20 overflow-y-auto;
    }
}